@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.Quick-sand-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(B11-A2-Kids-School/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar related styles */
.display-flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
}

.nav-links {
    text-decoration: none;
    align-items: center;
}

.text-orange {
    color: orange;
}

.text-skyblue {
    color: skyblue;
}

.text-05D4DF {
    color: #05D4DF;
}

.text-5D58EF {
    color: #5D58EF;
}

.contact-btn {
    background-color: orange;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.brand-name {
    font-size: 32px;
    font-weight: bold;
}

/* Banner Related Styles */
.banner-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: orange;
}

.students {
    color: black;
}

.vision {
    color: skyblue;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-img {
    height: 575px;
    width: 468px;
}

.enroll-btn {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* Main related styles */
.class-title {
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border-radius: 12px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link {
        flex-direction: column;
    }
}